---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #595659;
$white:            #ffffff;
$orange:           #f06f13;
$light-blue:       #2081ce;
$dark-blue:        #004e98;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

h1,h2,h3,h4,h5,h6 { 
    color: $dark-blue;   
}

a { 
    color: $light-blue;
}

.site-footer {
    background-color: $dark-blue;
    color: $white;
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
    
    a {
      color: $white;   
    }
}

@import
    "emma",
    "dropdown"
;
