<div class="emma">
    <p>Sign up for planning updates and meeting announcements.</p>
    <span class="email_label">Your Email:</span>
    <script type="text/javascript" src="https://app.e2ma.net/app2/audience/tts_signup/1757220/65d2731c1152faa4c943f72033e0865f/1354968/?v=a"></script>
    <div id="load_check" class="signup_form_message">This form needs Javascript to display, which your browser doesn't support. <a href="https://app.e2ma.net/app2/audience/signup/1757220/1354968/?v=a"> Sign up here</a> instead </div>
    <script type="text/javascript">signupFormObj.drawForm();</script>
</div>