<li class="dropdown">
    <a class="dropdown-toggle" href="{{ site.baseurl }}/about/">
        About the Civic
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="{{ site.baseurl }}/about/history">History</a>
        </li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" href="{{ site.baseurl }}/planning/">
        Planning Process
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="{{ site.baseurl }}/planning/cwg">Civic Working Group</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/planning/library">Project Library</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/planning/workshops">Community Workshops</a>
        </li>
    </ul>
</li>
<li>
    <a href="{{ site.baseurl }}/rent/">Rent the Civic</a>
</li>
