<li class="dropdown">
    <a class="dropdown-toggle" href="/about/">
        About the Civic
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="/about/history">History</a>
        </li>
    </ul>
</li>
<li class="dropdown">
    <a class="dropdown-toggle" href="/planning/">
        Planning Process
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="/planning/cwg">Civic Working Group</a>
        </li>
        <li>
            <a href="/planning/library">Project Library</a>
        </li>
        <li>
            <a href="/planning/workshops">Community Workshops</a>
        </li>
    </ul>
</li>
<li>
    <a href="/rent/">Rent the Civic</a>
</li>
