.emma {
    overflow: hidden;
    margin-bottom: $spacing-unit / 2;
}

#e2ma_signup_message,
#e2ma_signup_reset_button,
.e2ma_signup_form_label,
.e2ma_signup_form_required_footnote {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.e2ma_signup_form_element,
#e2ma_signup_submit_button,
span.email_label {
    float: left;
    margin-right: 0.5em;
}

span.email_label {
    padding-top: .1em;
}

#e2ma_signup_submit_button {
    background-color: #2081ce;
    color: #fff;
    font-weight: bold;
}

#e2ma_signup_submit_button:hover {
    cursor: pointer;
}

#id_email {
    width: 130px;
}
